@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-size: 13px;
}
.bottom-b {
	display: none;
}

.share {
	height: 28px;
	width: 28px;
}

.back-img {
	filter: invert(100%) hue-rotate(150deg);
}

@media screen and (min-width: 768px) {
	.icon {
		width: 17px;
	}
	.share {
		display: none;
	}
	.bottom-b {
		display: flex;
	}
}
